{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0
  },
  "globals": {
    "jest": false
  }
}
